@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,600;1,100;1,600&display=swap');
body{
    background-image: url("../imagenes/codigo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.titulo{
    color: #FFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-shadow: 6px 6px 2px black ;
    display: flex;
    justify-content: space-around;
    margin-top: 220px;
    margin-bottom: 220px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    grid-column: 1/5;
    text-align: center;
    color: #678983;
    background-color: #181C30;
    margin-bottom: 0px;
    text-shadow: 2px 2px 2px black ;
    padding-bottom: 70px;
}
section{
    background-color: #181C30;
    display: flex;
    justify-content: center  ;
}
.drop{
    width: 289px;
    height: 510px;
    background-color: gray;
    border: black solid 2px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}
.drop:hover{
    background-color: #1d1d1d;
}
.imagenes2{
    border: black solid 2px;
    margin-bottom: 20px;
    z-index: 3;
}
.imagenes2.arrastrado{
    opacity: 0.5;
}
#soltar1{width: 317.22px;height: 506.22px;}
#soltar2{width: 287.22px;height: 507.22px;}
#soltar3{width: 266.21px;height: 508.21px;}


.boton{
    display: flex;
    background-color: #181C30;
    justify-content: center;
}
button{
    color: black;
    margin: 28px;
    list-style: none;
    background-color: #e6ddc4;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: cadetblue 1px 2px 2px 1px;
    font-size: 13px;
    font-weight: bolder;
    width: 200px;
}
.animacion:active{
    transform: translate(3px 2px);
}